.page-body{
    margin: auto;
    width: 1000px;
}
.code-section{
    padding: 16px;
    background-color: lightgrey;
    border-radius: 4px;;
    text-align: left !important;
}

/* For the navigation bar */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}