
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ift1005DropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            IFT 1005
            </a>
            <div class="dropdown-menu dropright" aria-labelledby="ift1005DropdownMenuLink">
                <a class="dropdown-item nav-link dropdown-toggle" id="ift1005nestedMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Démo 1 - Linux
                </a>
                <div class="dropdown-menu" aria-labelledby="ift1005nestedMenuLink1">
                    <a class="dropdown-item" href="/ift1005/demo1/commandes_linux.html">Commandes linux importantes</a>
                    <a class="dropdown-item" href="/ift1005/demo1/connection_arcade.html">Connection ssh à arcade</a>
                </div>
                <a class="dropdown-item nav-link" href="/ift1005/demo2/demo2.html">
                    Démo 2 - Html
                </a>
            </div>
        </li>
      </ul>
    </div>
  </nav>
  

