
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/index.html">IFT 1005</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="demo1Dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Démo 1
                </a>
                <div class="dropdown-menu dropright" aria-labelledby="demo1Dropdown">
                    <a class="dropdown-item nav-link" href="/ift1005/demo1/commandes_linux.html">Commandes linux importantes</a>
                    <a class="dropdown-item nav-link" href="/ift1005/demo1/connection_arcade.html">Connection ssh à arcade</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ift1005/demo2/demo2.html">Démo 2</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="demo3Dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Démo 3
                </a>
                <div class="dropdown-menu dropright" aria-labelledby="demo3Dropdown">
                    <a class="dropdown-item nav-link" href="/ift1005/demo3/html_form.html">Html form</a>
                    <a class="dropdown-item nav-link" href="/ift1005/demo3/regex.html">Regex</a>
                    <a class="dropdown-item nav-link" href="/ift1005/demo3/division.html">Divisions sémantiques</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
